/*--------------------------------------------------------------
# COVERAGE HERO
--------------------------------------------------------------*/
.coverage-hero-container {
    text-align: center;
    margin-top: 50px;
}

/*--------------------------------------------------------------
# COVERAGES
--------------------------------------------------------------*/
.coverage-options-container {
    display: flex;
    flex-direction: column;
    margin: 50px;

    h2 {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
}
.coverage-options-container h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.coverage-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}
.coverage-boxes a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.coverage-box {
    display: flex;
    width: 400px;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-inline: 25px;
    box-shadow: 0px 5px 10px var(--light-neutral);
    transition: all 0.5s;

    img {
        max-width: 100px;
        max-height: 90px;
    }

    div {
        line-height: 0.5rem;
        padding-left: 15px;

        h3:after {
            content: '\2192';
            color: var(--neutral);
            font-size: 25px;
            padding-inline: 15px;
        }

        p {
            color: var(--light-neutral);
            font-family: 'Ubuntu', sans-serif;
            max-width: 100%;
        }
    }
}

.coverage-box img {
    max-width: 100px;
    max-height: 90px;
}

.coverage-box-details {
    line-height: 0.5rem;
        padding-left: 15px;
}

.coverage-box-details h3:after {
    content: '\2192';
    color: var(--neutral);
    font-size: 25px;
    padding-inline: 15px;
}

.coverage-box-details p {
    color: var(--light-neutral);
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
}

.coverage-box:hover {
    box-shadow: 0px 5px 10px var(--accent);
}

/*--------------------------------------------------------------
# COMPNAY INTRO
--------------------------------------------------------------*/
.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}
.intro-box {
    line-height: 3rem;
    text-align: center;
    
    p {
        font-size: 1.3rem;
        font-family: 'Ubuntu', sans-serif;
    }
}

.intro-box p {
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}
/*--------------------------------------------------------------
# REUSABLE DIVIDER
--------------------------------------------------------------*/
.divider-container {
    display: flex;
    align-items: center;
    margin: 25px;
    img {
        width: 200px;
        height: auto;
        margin-inline: 25px;
    }
}
.divider-container img {
    width: 200px;
    height: auto;
    margin-inline: 25px;
}
.divider-line {
    width: 100%;
    height: 0px;
    display: block;
    border: 2px solid var(--primary);
    border-radius: 2px;
}

#auto-div {
    border: 2px solid orange;
}
#personal-div {
    border: 2px solid var(--primary);
}
#property-div {
    border: 2px solid rgb(144, 213, 144);
}
#recreational-div {
    border: 2px solid red;
}


/*--------------------------------------------------------------
# SPECIFIC DETAILS
--------------------------------------------------------------*/
.specific-coverage-details {
    padding-inline: 25px;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    min-height: 20vh;
}
.specific-coverage-details p {
    padding-inline: 100px;
}

/*--------------------------------------------------------------
# FORM
--------------------------------------------------------------*/
.form-container {
    margin: 100px 25px 25px 25px;

}


/*--------------------------------------------------------------
# ALL COVERAGES
--------------------------------------------------------------*/
.all-coverages-container {
    display: block;
    align-items: center;
    margin: 50px 25px 50px 25px;
}

.all-coverages-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.all-coverages-section {
    display: flex;
    flex-direction: column;
    line-height: 0;
    h5 {
        color: var(--neutral);
    }
}
.all-coverages-section h5 {
    color: var(--neutral);
    font-weight: 400;
}


/*--------------------------------------------------------------
# MOBILE ADAPTATION
--------------------------------------------------------------*/
@media only screen and (max-width: 1150px) {
    /*Hero Coverages*/
    .coverage-box {
        width: 350px;
    }
    /*Intro*/
    .intro-container {
        flex-direction: column;
    }
    /*Specific Details*/
    .specific-coverage-details p {
        padding-inline: 0px;
    }
    /*All Coverages*/
    .all-coverages-rows {
        width: 100%;
    }
}